





.navy-strip{
    background-color: #223244;
    height: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.gradient-strip{
     background: linear-gradient(to right, rgb(14, 14, 174), rgb(226, 50, 209));
       height: 1rem !important;
    margin-bottom: 0.6rem !important;

}

.company-name h1{
    color: rgb(172, 151, 30);
     font-size: 70px !important;
     font-weight: bold;
     text-align: center;
}









.login-main {
    /* background-color: #635587; */
    width: 50%;
    height: 60vh;
    /* padding: 2% 5% 8% 5%; */
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* height: 100vh; */
    
    animation: fadeIn 0.5s ease; /* Fade-in animation */
}

.main-body{
    background-color: #223244;
    height: 80vh !important;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; 
    overflow: hidden; 
    animation: slideIn 0.8s ease; */
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.containerr {
    width: 96%;
    height: 95%;
    padding: 2% 5% 8% 5%;
    margin: 0% auto;
    border-radius: 40px;
    background: url(/public/assets/IMG_20240701_161804.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.containerr > form {
    width: 60%; /* Adjusted to full width */
    margin: 1% auto;
    /* background: url(/src/components/home/grid-2.png);
    background-repeat: no-repeat;
    background-size: cover; */
    animation: slideUp 0.5s ease; /* Slide-up animation */
}


.logo-img{
    width: 50%;
    padding: 0%;
    margin: 0% auto;
    height: 80%;
    
}

.logo-img>img{
    width: 100%;
    border-radius: 15px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.containerr > form > div > label {
    color: white;
}

@media (max-width:768px){
    .width-edit{
        /* margin: 5% 0%; */
        width: 100% !important;
    }
    
}

.containerr > form > div > input{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0%;
    border-bottom: 2px solid white;
    width: 100%;
    color: white;
}

.containerr > form > div > input::placeholder{
    color: white;
}

.containerr > form > div{
    background-color: transparent;

}

.containerr > form > .btn-edit > button {
    width: 100%;
    margin-top: 10px; /* Increased margin */
    transition: transform 0.3s ease; /* Button hover effect */
}

.containerr > form > .btn-edit > button:hover {
    transform: scale(1.1);
}




@media (max-width: 768px) {
    .containerr > form {
        width: 100%;
    }
    .containerr {
        width: 95%;
        padding: 1% 1% 5%;
    }
    .company-name h1{
        color: rgb(172, 151, 30);
        font-size: 40px !important;
    }
    .login-main {
        width: 80%;
        height: 60vh;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .company-name h1{
        font-size: 60px !important;
    }
}

@media (max-width: 426px){
    .company-name h1{
        font-size: 30px !important;
    }
    .width-edit{
        gap: 0 !important;
    }
    .g-5{
    --bs-gutter-y: 2rem;
    }
}


.select-cat-div{
    /* border-radius: 40px;
    background: rgb(5,38,98);
    background: linear-gradient(90deg, rgba(5,38,98,1) 0%, rgba(34,84,161,1) 39%, rgba(0,212,255,1) 100%); */
    /* opacity: 50%; */
    
}
.select-cat-section{
      /* background: rgb(5,166,199); */
        /* background: linear-gradient(90deg, rgba(5,166,199,1) 0%, rgba(21,110,158,1) 52%, rgba(0,46,128,1) 100%); */
        border: none !important;
        border-bottom: 2px solid white !important;
        border-radius: 0px !important;
        outline: none;
        background-color: transparent !important;
      color: white;
}
.select-cat-section {
  background-color: #000; /* Set background color if needed */
  color: white; /* Change text color */
  border: none; /* Remove border if needed */
  padding: 10px; /* Adjust padding if needed */
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in modern browsers */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.1 6.9"><path fill="white" d="M2.1 6.9L0 4.8 4.1 4.8z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.select-cat-section>option:hover{
    background-color: #223244 !important;
}


.click-here-btn{
    background: rgb(110, 155, 169);
        /* background: linear-gradient(90deg, rgba(5,166,199,1) 0%, rgba(21,110,158,1) 52%, rgba(0,46,128,1) 100%); */
}
.click-here-btn:hover{
    background: rgb(126, 178, 194);
}